img {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
    width: 200px;
}

body{
    margin: 0px;
    padding: 0px;
}

.crisp_edges {
    image-rendering: -moz-crisp-edges;
    image-rendering: pixelated;
}

#title {
    background-image: url(assets/dirt.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.play_button {
    width: 50px;
    height: 50px;
    margin: auto;
    /* background-color: gray; */
    position: absolute;
}

.background_div {
    position: relative;
    height: auto;
    width: auto;
    padding: 0px;
    margin: 0px;
}

.background{
    height: 100%;
    width: 100%;
    object-fit: cover;
}